#molotov{
    cursor: url(molotov-cocktail.png) 50 10, auto;
    position: relative;
}

#molotov img[src="flame.gif"]{
    position: absolute;
    width: 30px;
    z-index: 10;
}

#underlay, #overlay, #cookie-canvas{
    position: absolute!important;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
}
#overlay{
    pointer-events: none;
}
#cookie-canvas{
    z-index: 10;
    position: fixed !important;
    pointer-events: none;
}
/* #cookie-canvas canvas{
} */
.popup{
    position: fixed;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    width: 400px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    right: auto;
    background: white;
    padding: 20px;
    box-shadow: 4px 4px 4px 2px #0003;
    pointer-events: all;
}

.popup p{
    margin-bottom: 10px;
    margin-top: 0;
}

#supercookie{
    position: absolute;
    z-index: 101;
}

#nocookies{
    appearance: none;
    background: transparent;
    font-size: smaller;
    border: 0 none;
}

.image-wrapper img{
    transition: width 300ms;
}

#mute{
    position: absolute;
    z-index: 10;
}